{% extends "base.html" %}

{% block title %}Change Password | Event Horizon{% endblock %}

{% block content %}

<section class="profile-page">

    <div class="profile-header">

        <h1>Change Password</h1>

        <p>
            Choose a new password for your account.
        </p>

    </div>

    <div class="profile-form">

        <form method="POST">

            {% csrf_token %}

            {{ form.non_field_errors }}

            {{ form.old_password.errors }}

            <p>
                {{ form.old_password.label_tag }}
                {{ form.old_password }}
            </p>

            {{ form.new_password1.errors }}

            <p>
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
            </p>

            {% if form.new_password1.help_text %}
                <div
                    class="helptext"
                    id="id_new_password1_helptext"
                >
                    {{ form.new_password1.help_text|safe }}
                </div>
            {% endif %}

            {{ form.new_password2.errors }}

            <p>
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}

                {% if form.new_password2.help_text %}
                    <span
                        class="helptext"
                        id="id_new_password2_helptext"
                    >
                        {{ form.new_password2.help_text }}
                    </span>
                {% endif %}
            </p>

            <div class="profile-form-actions">

                <button
                    type="submit"
                    class="event-view-button"
                >
                    Change Password
                </button>

                <a
                    href="{% url 'profile' %}"
                    class="cancel-button"
                >
                    Cancel
                </a>

            </div>

        </form>

    </div>

</section>

{% endblock %}